.bg-gold{
	background-color: #ca6902!important;
}

.border-gold{
	border-color: #ca6902!important;
}

.text-gold{
	color: #ca6902!important;
}

.text-title{
	font-size: 25px !important;
}

 .subtitle{
 	font-size: 20px;
 }